.main {
  min-height: calc(100vh - 13vh - 40px);
  position: relative;
}

.main-content-container {
  position: relative;
  top: -45px;
  width: 100%;
  min-height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 60vw;
  justify-content: center;
}
