.buttons-container {
    display: grid;
    gap: 10px;
    grid-template-columns: max-content;
    justify-content: center;
    padding: 2rem 0;
}

.buttons-fineprint {
    font-size: 1.3rem;
}

.buttons-fineprint:hover {
    cursor: pointer;
}

@media only screen and (min-width: 1023px) {
    .buttons-container {
        grid-template-columns: max-content max-content auto;
        align-items: left;
        justify-content: left;
        text-align: center;
    }
    .buttons-fineprint {
        font-size: 1.4rem;
    }
  }