.details-grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  justify-content: center;
}

.details-grid-content > p {
  padding: 2.5px;
}

.details-grid-title {
  font-size: 6rem;
  font-weight: bold;
}

.details-line {
  width: 33%;
  height: 1px;
  background-color: var(--color-blue);
  justify-self: center;
}

.details-grid-content,
.details-grid-fineprint {
  font-size: 1.5rem;
}

.details-hook {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 2rem 0;
}

@media only screen and (min-width: 1023px) {
  /* .details-grid-container,
  .details-grid-content,
  .details-grid-title,
  .details-line,
  .details-hook {
    display: none;
  } */
}
