.footer-container {
  background-color: var(--color-gray);
  height: 5rem;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  flex-grow:1;
}

.footer-content {
  color: var(--color-light-gray);
  width: auto;
  padding: 1rem;
  font-size: 1.3rem;
}
