.main {
  min-height: calc(100vh - 13vh - 40px);
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-content-container {
  position: relative;
  top: -4.3rem;
  text-align: center;
  display: grid;
  grid-template-columns: 60vw;
  justify-content: center;
  flex-grow: 1;
}

.main-fineprint-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-fineprint {
  position: relative;
  font-size: 1.35rem;
  color: var(--color-light-gray);
  text-align: center;
  top: 2rem;
}
