.header-blue {
    background-color: var(--color-blue);
}

.header-white {
    background-color: white;
}

.header-blue, .header-white {
    display: flex;
    justify-content: center;
    align-items: center;
}