@import url("./assets/css/button.css");
@import url("./assets/css/buttons.css");
@import url("./assets/css/caller.css");
@import url("./assets/css/content.css");
@import url("./assets/css/details.css");
@import url("./assets/css/footer.css");
@import url("./assets/css/header.css");
@import url("./assets/css/logo.css");
@import url("./assets/css/main.css");

:root {
  --color-blue: hsla(209 45% 37% / 100%);
  --color-orange: hsla(30 87% 58% / 100%);
  --color-dark-orange: hsla(24 75% 52% / 100%);
  --color-gray: hsla(0 0% 26% / 100%);
  --color-light-gray: hsla(0 1% 63% / 100%);
  --color-extra-light-gray: hsla(0 0% 91% / 100%);
}

html {
  font-size: 62.5%;
  padding: env(safe-area-inset);
}

.App {
  color: var(--color-blue);
  font-family: "Jaldi", sans-serif;
  width: 100vw;
}

p > strong {
  font-weight: bold;
}
